<h1>Welcome to Telerik Academy Library</h1>
<h3>Welcome to our library - a place where we hope to inspire our young readers to continue working on
   their literacy goals, and to create a life-long love of reading!
</h3>
<br>
<h3 class="subtitle">These are the books in our library.</h3>

<div>
<table mat-table [dataSource]="books" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>
  
    <!-- ISBN Column -->
    <ng-container matColumnDef="ISBN">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
</div>
<br>
<div class="button">
    <button mat-flat-button color="warn" class="btn" [routerLink]="['/users/register']">START NOW</button>
</div>
