table {
    width: 80%;
    margin: 20px auto;
}

.position {
    margin: auto;
}
.author {
    margin: auto;
}
.ISBN {
    margin: auto;
}

.subtitle, h1 {
    text-align: center;
}

.button {
    text-align: center;
}
.btn {
    color: #333333;
    background-color: #FFAD16;
    padding-right: 40px;
    padding-left: 40px;
}