<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{this.book.title}}</mat-card-title>
    <mat-card-subtitle>{{this.book.author}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{this.book.resume}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="this.btnToggle()">{{this.btnText}}</button>
    <button mat-button *ngIf="book.status === 2" (click)="borrowBook(book.id)">Borrow</button>
    <button mat-button *ngIf="book.status === 0 && book.__user__.username === loggedUser"
    (click)="returnBook(book.id)">Return</button>
  </mat-card-actions>
  <mat-card-footer><h5> ISBN - {{this.book.isbn}}</h5></mat-card-footer>
</mat-card>

<div *ngIf="this.btnText === 'Hide reviews'">
<mat-list *ngFor="let review of bookReviews">
    <mat-list-item>
    <p>
        {{this.review.content}}
    </p>
  </mat-list-item>
  <footer>
      <p>Posted by: {{this.review.__author__.username}}</p>
      <p>Posted on: {{this.review.createdOn | date}}</p>
  </footer>
    <mat-divider></mat-divider>
</mat-list>
</div>

<div class="create-review" *ngIf="isBorrowBookBefore">
  <h3>Create review</h3>
  <form [formGroup]="this.reviewForm" #formDirective="ngForm" (ngSubmit)="this.createReview(formDirective);" >
    <mat-form-field>
        <input matInput #inputUsername maxlength="150" placeholder="Enter review content" formControlName="content" >
        <mat-error *ngIf="!!this.reviewForm.controls.content.invalid">The reveiw must be between 3 and 150 characters long</mat-error> 
        <mat-hint align="end">{{inputUsername.value?.length || 0}}/150</mat-hint>
    </mat-form-field>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Sign in</button>
    </div>
  </form>
</div>

