.example-card {
    max-width: 700px;
    margin: 0 auto;
}

.example-container {
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    width: 100%;
  }

  h3 {
      text-align: center;
  }