/* div {
    width: 95%;
    margin: 0 auto;
} */

h1 {
    text-align: center;
}

table {
    width: 100%;
    margin: 20px auto;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  button {
    margin: 4px;
  }

  .action {
    width: 25%;
  }

  .mat-elevation-z8 {
    width: 80%;
    margin: 20px auto;
  }

  .mat-form-field {
    width: 15%
  }