section div:nth-child(1), section div:nth-child(3){
    color: blue;
    font-size: 50px;
}
 
section div:nth-child(1){
    margin-top: 20px;
}
 
section {
    text-align: center;
    padding: 120px 0;
}
