<h4>Login</h4>
<form [formGroup]="this.loginForm" (ngSubmit)="this.login()">
<div class="example-container">

  <mat-form-field>
      <input matInput #inputUsername maxlength="15" placeholder="Enter your username" formControlName="username" >
      <mat-error *ngIf="!!this.loginForm.controls.username.invalid">Please fill out this field</mat-error> 
      <mat-hint align="end">{{inputUsername.value?.length || 0}}/15</mat-hint>
  </mat-form-field>
   <br>

  <mat-form-field>
    <input matInput #input maxlength="20" placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
    <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
    <mat-error *ngIf="!!this.loginForm.controls.username.invalid">Please fill out this field</mat-error>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Sign in</button>
  </div>
</div>
</form>