<mat-toolbar color= "primary" class="navbar">
  <div>Telerik Library</div>
  <div>
    <button mat-button [routerLink]="['/home']" routerLinkActive="active">Home</button>
    <button mat-button *ngIf="isLoggedIn"  [routerLink]="['/books/all-books']" routerLinkActive="active">All books</button>
    <button mat-button *ngIf="!isLoggedIn" [routerLink]="['/users/login']" routerLinkActive="active">Login</button>
    <button mat-button *ngIf="!isLoggedIn" [routerLink]="['/users/register']" routerLinkActive="active">Register</button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </div>
</mat-toolbar>