<h4>Register</h4>
<form [formGroup]="this.registerForm" (ngSubmit)="this.register()">
<div class="example-container">

  <mat-form-field hintLabel="Username must be between 3 and 15 characters long">
      <input matInput #inputUsername maxlength="15" placeholder="Enter your username" formControlName="username" >
      <mat-hint align="end">{{inputUsername.value?.length || 0}}/15</mat-hint>
      <mat-error *ngIf="!!this.registerForm.controls.username.invalid">{{this.getErrorMessage('username')}}</mat-error> 
  </mat-form-field>
   <br>
 <mat-form-field>
    <input matInput placeholder="Enter your email" formControlName="email">
     <mat-error *ngIf="!!this.registerForm.controls.email.invalid">{{this.getErrorMessage('email')}}</mat-error> 
   </mat-form-field>
   <br>
  <mat-form-field hintLabel="Password must be between 6 and 20 characters long">
    <input matInput #input maxlength="20" placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
    <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
    <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </a>
    <mat-error *ngIf="!!this.registerForm.controls.password.invalid">{{this.getErrorMessage('password')}}</mat-error> 
  </mat-form-field>
  <br>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Sign up</button>
  </div>
</div>
</form>
